* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

/* Mobile Devices */
.navbar {
  backdrop-filter: blur(15px);
  background: rgb(255, 255, 255, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 60px;
  padding: 10px 50px;
  z-index: 100;
}
@media (max-width: 768px) {
  .navbar {
    height: 50px;
  }
}

.logo {
  position: relative;
  display: flex;
}
.logo img {
  position: relative;
  width: auto;
  height: 200px;
}
/* Put this at the very end */
@media (max-width: 768px) {
  .logo img {
    height: 120px;
    left: -30%;
  }
}
.hero {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
.main img {
  z-index: 1;
  position: absolute;
  width: 1061px;
  max-width: 100%;
  height: auto;
  top: 10%;
  left: 16%;
}
@media (max-width: 768px) {
  .main img {
    width: 100%;
    left: 5%;

    transform: translatey(-50%);
    top: 25%; /* was 10% */
  }
}
.new {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.heading1 h1 {
  z-index: 2;
  position: absolute;
  top: 25%;
  font-size: 70px;
  left: 5%;
  font-weight: 400;
  font-family: "Space Grotesk", sans-serif;
}
@media (min-width: 300px) and (max-width: 768px) {
  .heading1 h1 {
    font-size: 25px;
    left: 2%;
    top: 10%;
  }
}
.heading1 h2 {
  z-index: 2;

  position: absolute;
  top: 37%;
  font-size: 40px;
  left: 5%;
  font-weight: 200;
  font-family: "Space Grotesk", sans-serif;
}
@media (min-width: 300px) and (max-width: 768px) {
  .heading1 h2 {
    font-size: 15px;
    left: 2%;
    top: 13.5%;
  }
}
.heading1 h3 {
  z-index: 2;

  position: absolute;
  top: 45%;
  font-size: 20px;
  width: 500px;
  left: 5%;
  font-weight: 200;
  font-family: "Space Grotesk", sans-serif;
}
@media (min-width: 300px) and (max-width: 768px) {
  .heading1 h3 {
    font-size: 10px;
    width: 150px;
    left: 2%;
    top: 16%;
  }
}
.button {
  z-index: 2;
  position: absolute;
  width: 200px;
  height: 200px;
  top: 58%;
  left: 5%;
  transition: 0.3s ease-in-out;
}
.button:hover {
  color: red;
  transform: translatey(-5px);
}
.button button {
  color: red;

  background-color: transparent;
  font-size: 20px;
  width: 200px;

  border: 2px solid red;
  height: 48px;
}
.button button:hover {
  background-color: red;
  color: white;
  border-style: none;
}
@media (min-width: 300px) and (max-width: 768px) {
  .button button {
    width: 90px;
    height: 30px;
    font-size: 10px;
  }
  .button {
    top: 22.5%;
    left: 2%;
  }
}
